<!DOCTYPE html>
<html lang="en">
<title>Data Collector App</title>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/main.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <p> Thank you for your submission. <br>
            You will receive a an email with the survey results shortly.
        </p>
    </div>
</body>

</html>